[submodule "ros2_ws/turtlebot3"]
	path = ros2_ws/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
[submodule "ros2_ws/turtlebot3_simulations"]
	path = ros2_ws/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
